<section class="thirteen columns">
    <h1>Short Bio</h1>
    <article class="mypost">
        <p>I'm a postdoctoral researcher at <a href="https://www.zurich.ibm.com">IBM Research Zurich</a>, in the Cloud and Computing Infrastructure Department (Industry Platforms and Blockchain Group), where I am working on the <a href="http://hyperledger-fabric.readthedocs.io/en/latest/arch-deep-dive.html">Hyperledger Fabric</a> project. Previously, I obtained a PhD from <a href="https://epfl.ch">EPFL</a> under the supervision of <a href="http://lpdwww.epfl.ch/rachid/">Prof. Rachid Guerraoui</a>. During my PhD, I also spent time with VMware Research and Microsoft Research. I was a recipient of a Best Paper Award at the ACM Middleware Conference in 2014, and of a VMware academic fellowship in 2015-2016. </p>
        <br/>
        <p> You can find a more detailed resume <a href="assets/resume.pdf"> here </a>. </p>
    </article>
</section>
