<section class="thirteen columns">
    <h1>Short Bio</h1>
    <article class="mypost">
        <p>I'm a researcher at <a href="https://labs.oracle.com/">Oracle Labs</a> in Zurich, where I'm currently focusing on the deign of a cloud analytics engine. Previously, I worked at <a href="https://www.zurich.ibm.com/">IBM Research Zurich</a>, where I mostly focused on the design of efficient and fair (byzantine) consensus protocols. I obtained a PhD 2017 from <a href="https://epfl.ch">EPFL</a>, in Lausanne, Switzerland, under the supervision of <a href="http://lpdwww.epfl.ch/rachid/">Prof. Rachid Guerraoui</a>. While at EPFL, my research has addressed topcis such as concurrent (and durable) data structures and synchronization, as well as distributed protocols. During my PhD, I also spent time with VMware Research and Microsoft Research. I was a recipient of a Best Paper Award at the ACM Middleware Conference in 2014, and of a VMware academic fellowship in 2015-2016. </p>
        <br/>
        <p> You can find a more detailed resume <a href="assets/resume.pdf"> here </a>. </p>
    </article>
</section>
