<section class="thirteen columns">
    <h1>News</h1>
    <article class="mypost">
        <p><em> Apr-2018 </em>: Our paper on "Locking Timestamps Versus Locking Objects" has been accepted at PODC 2018.</p>
        <p><em> Apr-2018 </em>: Our paper on "Log-Free Concurrent Data Structures" has been accepted at USENIX ATC 2018.</p>
        <p><em> Oct-2017 </em>: I've moved to <a href="http://researcher.watson.ibm.com/researcher/view.php?person=zurich-UDO"> IBM Research, Zurich. </a></p>
        <p><em> Sep-2017 </em>: I've successfully defended my <a href="https://infoscience.epfl.ch/record/231157?ln=en"> PhD thesis</a>.</p> 
    </article>
</section>
