<section class="thirteen columns">
    <h1>Recent Publications</h1>

    <article class="mypost">
        <header>
            <h1><a href="assets/mvtl.pdf">Locking Timestamps Versus Locking Objects</a></h1>
            <span>PODC, 2018,</span>
        </header>
        <p> Marcos K. Aguilera, Tudor David, Rachid Guerraoui, Junxiong Wang. </p>
    </article>

    <article class="mypost">
        <header>
            <h1><a href="assets/nvram.pdf"> Log-Free Concurrent Data Structures </a></h1>
            <span>USENIX ATC, 2018,</span>
        </header>
        <p> Tudor David, Aleksandar Dragojevic, Rachid Guerraoui, Igor Zablotchi. </p>
    </article>
    
    <article class="mypost">
        <header>
            <h1><a href="assets/thesis.pdf"> Universally Scalable Concurrent Data Structures </a></h1>
            <span>PhD thesis, EPFL, 2017,</span>
        </header>
        <p> Tudor David. </p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="https://infoscience.epfl.ch/record/221216/files/p337-david.pdf">Concurrent Search Data Structures Can Be Blocking And Practically Wait-Free</a></h1>
            <span>SPAA, 2016,</span>
        </header>
        <p> Tudor David and Rachid Guerraoui. </p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="https://infoscience.epfl.ch/record/207109/files/ascy_asplos15.pdf">Asynchronized concurrency: The secret to scaling concurrent search data structures</a></h1>
            <span>ASPLOS, 2015,</span>
        </header>
        <p> Tudor David, Rachid Guerraoui, Vasileios Trigonakis. </p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="https://infoscience.epfl.ch/record/208046/files/consensus_inside_p145-david.pdf">Consensus Inside</a></h1>
            <span>Middleware, 2014, Best Paper Award,</span>
        </header>
        <p> Tudor David, Rachid Guerraoui, Maysam Yabandeh. </p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="http://lpdwww.epfl.ch/rachid/papers/2013/p33-david.pdf">Everything You Always Wanted to Ask About Synchronization but Were Afraid to Ask</a></h1>
            <span>SOSP, 2013,</span>
        </header>
        <p> Tudor David, Rachid Guerraoui, Vasileios Trigonakis. </p>
    </article>
</section>
