<section class="thirteen columns">
    <h1>Main Publications</h1>

    <article class="mypost">
        <header>
            <h1><a href="assets/mvtl.pdf">Locking Timestamps Versus Locking Objects</a></h1>
            <span>Marcos K. Aguilera, Tudor David, Rachid Guerraoui, Junxiong Wang. PODC 2018.</span>
        </header>
        <p>Complete technical report containing proofs and pseudo-code of all algorithms <a href="assets/mvtl-tr.pdf">here</a>. </p>
        <p>Associated code <a href="https://github.com/LPD-EPFL/MVTIL">here.</a></p>
    </article>

    <article class="mypost">
        <header>
            <h1><a href="assets/nvram.pdf"> Log-Free Concurrent Data Structures </a></h1>
            <span> Tudor David, Aleksandar Dragojevic, Rachid Guerraoui, Igor Zablotchi. USENIX ATC 2018.</span>
        </header>
        <p>Associated code <a href="http://dcl.epfl.ch/site/nvram">here.</a></p>
    </article>
    
    <article class="mypost">
        <header>
            <h1><a href="assets/thesis.pdf"> Universally Scalable Concurrent Data Structures </a></h1>
            <span>Tudor David. PhD thesis, EPFL, 2017.</span>
        </header>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="https://infoscience.epfl.ch/record/221216/files/p337-david.pdf">Concurrent Search Data Structures Can Be Blocking And Practically Wait-Free</a></h1>
            <span>Tudor David and Rachid Guerraoui. SPAA 2016.</span>
        </header>
        <p>Associated code <a href="https://github.com/LPD-EPFL/ASCYLIB">here.</a></p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="https://infoscience.epfl.ch/record/207109/files/ascy_asplos15.pdf">Asynchronized concurrency: The secret to scaling concurrent search data structures</a></h1>
            <span>Tudor David, Rachid Guerraoui, Vasileios Trigoankis. ASPLOS 2015.</span>
        </header>
        <p>Associated code <a href="https://github.com/LPD-EPFL/ASCYLIB">here.</a></p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="https://infoscience.epfl.ch/record/208046/files/consensus_inside_p145-david.pdf">Consensus Inside</a></h1>
            <span>Tudor David, Rachid Guerraoui, Maysam Yabandeh. Middleware 2014 (Best Paper Award).</span>
        </header>
        <p>Associated code <a href="https://github.com/LPD-EPFL/consensusinside">here.</a></p>
    </article>


    <article class="mypost">
        <header>
            <h1><a href="http://lpdwww.epfl.ch/rachid/papers/2013/p33-david.pdf">Everything You Always Wanted to Ask About Synchronization but Were Afraid to Ask</a></h1>
            <span>Tudor David, Rachid Guerraoui, Vasileios Trigonakis. SOSP 2013.</span>
        </header>
        <p>Associated code <a href="http://lpd.epfl.ch/site/ssync">here.</a></p>
    </article>
</section>
